@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
    --primary-color:#3B82F6;
}

hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.center-container {
    max-width: 600px;
    margin: auto;
}

.container {
    padding: 0rem 1rem;
}

.link {
    text-decoration: none;
    padding:0.4rem 1.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 0.2px solid;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}


